

    
    <footer class=" footeryes">
        <div class=" text-center active fs-5 footeryes">
            MY-BLOG &#169; <script>document.write(new Date().getFullYear())</script>  
        </div>
    </footer>

    </html>



