

    
    <footer class="bg-info">
        <div class="container-fluid bg-footer text-center active fs-5">
            THE-BLOG &#169; <script>document.write(new Date().getFullYear())</script>  
        </div>
    </footer>

    </html>



