<nav class="navbar navbar-expand-lg bg-light position-sticky">
    <div class="container-fluid">
      <a class="navbar-brand" href="/blogs"><img src="/image/b (1).png" alt="" class="img rounded"  style="max-width:9%;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fs-5 mx-2" aria-current="page" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 mx-2" href="/createblog">Create</a>
          </li>
          <li class="nav-item fs-5 mx-2">
            <a class="nav-link active fs-5 mx-2" href="/404">Profile</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>