body, .front, .navbar{
    background-color: rgba(193, 196, 195, 0.997) !important;
    position:relative;
}

.footeryes {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background-color: rgba(193, 196, 195, 0.997) !important;
    color: aliceblue;
  }

  .section{
    width: 100%;
    height: 88vh;
  }

  .img-fluid{
    float: left;
    width:  200px;
    height: 200px;
    background-size: cover;
  }

  .fullviewimage{
    width:  600px;
    height: 300px;
    background-size: cover;
  }

  .container-fluid{
    box-sizing: border-box;
  }